<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do Manager</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <form action="">
                <div class="flex gap-2  py-4">
                    <div class="flex-auto">
                        <input type="text" placeholder="What's next?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
                    </div>
                    <div class="flex-auto">
                        <input type="date" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-5" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-">Add</button>
                    </div>
                </div>
            </form>
            <div>
                <h5>Overdue</h5>
                <ul class="list-none">
                    <li>
                        <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                            <input id="todo-checkbox-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-600">
                            <label for="todo-checkbox-1" class="ml-2 text-sm text-gray-600 cursor-pointer">Have to pay Electricity bill</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                            <input id="todo-checkbox-2" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-600">
                            <label for="todo-checkbox-2" class="ml-2 text-sm text-gray-600 cursor-pointer">Recharge Mobile</label>
                        </div>
                    </li>
                </ul>
                <h5>Due Today</h5>
                <h5>Due Later</h5>
            </div>
        </div>
    </div>
</body>
</html>